<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Cadastro de Cliente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #autorForm="ngForm" novalidate>
    <ion-item>
      <ion-label position="floating">CPF *:</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.cpf" name="cpf" required maxlength="11">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome *:</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.nome" name="nome" maxlength="100" required pattern="[a-zA-Z ]+">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Idade:</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.idade" name="idade">
      </ion-input>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" color="secondary">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

</ion-content>
