<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Locação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor='let locacao of locacoes'>
      <ion-label>
        <h2>Nome: {{locacao.cliente.nome}}</h2>
        <h3>Total: {{locacao.valor}}</h3>
        <h3>Entrega: {{locacao.dataFim | date: 'dd/MM/yyyy'}}</h3>
        <ion-chip>
          <ion-label (click)="detalhes(locacao.filme)">{{locacao.filme.nome}}</ion-label>
        </ion-chip>
        </ion-label>
      <ion-button (click)="confirmarExclusao(locacao)" color="secondary">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/locacao/cadastro', locacao.id]" color="secondary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="secondary" [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" [routerLink]="['/locacao', 'cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>