<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Cadastro de Genero</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #autorForm="ngForm" novalidate>
    <ion-item>
      <ion-label position="floating">Descrição *:</ion-label>
      <ion-input type="text" [(ngModel)]="genero.descricao" name="descricao"  maxlength="11" required pattern="[a-zA-Z ]+">
      </ion-input>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" color="secondary">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

</ion-content>
